body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.control-panel {
    flex-grow: 1;
}

.three-d-view {
    flex-grow: 5;
}

.three-d-view > canvas {
    width: 600px;
    height: 600px;
}

.two-dee-view {
    flex-grow: 5;
}
