body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
  grid-gap: 10px;
}

.control-panel {
  grid-column: 1/3;
}

.three-d-view {
  grid-column: 3/13;
}
